{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block carts %}<div class="cart-total">{{cart.total / 100}} €</div>{% endblock %}

{% block body %}

<ul class="products">
    {% for product in products %}
        <li>{% include 'home/product.html.twig' with {'product' : product} %}</li>
    {% endfor %}
</ul>
{% endblock %}
