* {
    box-sizing:border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
    font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
    height: 100%;
}

body {
    font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 18px en utilisant les rem comme unité) */
    margin: 0;
    padding: 0;
    height: auto;
    line-height: 1.5;
  
} 

.navbar-container {
    background-color: rgb(108, 76, 76);
    display: flex;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.title, .cart, .cart-total {
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.product-header {
    display: flex;
}

.product-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.product {
    width: 30rem;
    border: 1px solid rgb(228, 228, 228);
    margin: 3rem;
    padding: 1rem;
}

.product-image {
    width: 15rem;
    height: 15rem;
}

.product-price {
    font-size: 2rem;
    color:rgb(71, 71, 71);
}

.product-stock {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.button-add {
    background-color: rgb(62, 182, 182);
    color: white;
    border: none;
    padding: 0.5rem;
}

.product-name {
    color: rgb(71, 71, 71);
    font-size: 2.4rem;
}

.product-description {
    font-family: Arial, Helvetica, sans-serif;
}