<div class="navbar-container">
    <ul class="navbar" >
        <li>
            <h1 class="title">SUPER KAWA</h1>
        </li>
        <li>
            <div class="cart">Panier</div>
        </li>
    <ul>
</div>